<div class="wrapper">
  <div *ngFor="let img of imgs; let indexOfelement = index" class="bullet">
    <img [src]="img" />
    <h1>{{ headlines[indexOfelement] }}</h1>
    <p>{{ texts[indexOfelement] }}</p>
  </div>
</div>

<mat-divider></mat-divider>

<div class="wrap">
  <h1>Your Potential to generate wealth is about to soar</h1>
  <p>&nbsp;</p>
  <p>&nbsp;</p>

  <p>
    Earn Crypto on Autopilot with the New Non-Custodial Staking Solution on the
    XRPL!
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <p>
    Introducing the world's first sustainable, compound interest staking
    platform on the XRPL. With our secure and easy solution, you can earn
    interest on your crypto holdings without lifting a finger. And the best
    part? It's not just for XRPL – all currencies that can be bridged via the
    Flare network are eligible! Don't miss out on this unique opportunity to
    grow your wealth. Stay tuned and start staking and earning soon!
  </p>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
</div>

<mat-divider></mat-divider>
