.mission {
  // background-image: url(../../../assets/images/background/mission_bg.jpg);
  text-align: center;
  max-width: 100%;
  padding: 50px 0 50px 0;
  vertical-align: top;
  .mission-detail {
    vertical-align: top;
    align-items: baseline;
    min-width: 280px;
    max-width: 280px;
    H1 {
      padding: 15px;
      font-size: xx-large;
    }
    p {
      font-size: large;
    }
  }
}
