$blue-primary: mat.define-palette(mat.$indigo-palette, 900);
$blue-accent: mat.define-palette(mat.$indigo-palette, 800);
$blue-warn: mat.define-palette(mat.$red-palette);

$blue-theme: mat.define-light-theme(
  (
    color: (
      primary: $blue-primary,
      accent: $blue-accent,
      warn: $blue-warn,
    ),
  )
);
