.header-image-wrapper {
  position: relative;
  margin-top: -50px;
  padding-top: 50px;
  background-image: linear-gradient(-45deg, #13051f, #233671);
  min-height: 70px;
  .header-image-content {
    position: relative;
    color: #fff;
    text-align: center;
    // border-top: 1px #fff solid;
    padding-bottom: 10px;
    .title {
      padding: 40px;
      font-size: xx-large;
      // font-weight: bold;
    }
    .desc {
      font-size: x-large;
      font-style: italic;
      line-height: 120%;
    }
  }
  .bg {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../../../assets/images/background/header_middle_bg.png");
  }
}
