.bdrop {
  display: flex;
  flex-direction: column;
  // background-color: #777777f2;
  // backdrop-filter: blur(1000px);
}

a {
  font-size: large;
  background-color: black;
  color: whitesmoke;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}
