<body>
  <div class="txt" Animation textAnimation="text_focus_in_expand">
    <h1>LOOKS LIKE YOU ARE</h1>
    <h1>LOST IN SPACE</h1>
    <p>&nbsp;</p>
    <button mat-raised-button color="primary" routerLink="">
      GO BACK HOME
    </button>
  </div>
  <div class="rocket">
    <div class="rocket-body">
      <div class="body"></div>
      <div class="fin fin-left"></div>
      <div class="fin fin-right"></div>
      <div class="window"></div>
    </div>
    <div class="exhaust-flame"></div>
    <ul class="exhaust-fumes">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
    <ul class="star">
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
      <li></li>
    </ul>
  </div>
</body>
